.userflex {
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 3%;
    height: 80vh;
}

.flex-item1 {
    background-color: #902298;
    color: #fff;
    padding: 10px;
}

.flex-item2 {
    background-color: #902298;
    color: #fff;
    padding: 10px;
}

.diary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.diary-items {
    padding: 10px;
    box-sizing: border-box;
}

.diary-item4 {
    grid-column: span 2; /* Span across two columns */
    margin-top: 10px;
}

.diary-box {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}
